body {
    background-color: rgb(253, 244, 227);
}

h1 {
    color: rgb(19, 70, 134);
}

h2 {
    color: rgb(237, 63, 39);
    border: 1px solid black;
    border-style: dashed;
    padding: 5px;
    width: 600px;
}

p {
    color: rgb(254, 178, 26);
    font-family: Times New Roman, Times, serif;
    max-width: 600px;
}

img {
    margin: 5px;
    text-decoration: none;
}