button {
    color: white;
    background-color: black;
    font-family: Arial;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 38px;
    width: 110px;
    margin: 8px;
    margin-right: 2px;
    margin-bottom: 8px;
}

button.Signup {
    color: white;
    background-color: rgb(84, 162, 87);
    border: none;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    height: 35px;
    width: 100px;
    margin: 8px;
}

button.Addtocart {
    color: black;
    background-color: rgb(249, 218, 78);
    border: none;
    border-radius: 20px;
    font-family: Arial;
    font-size: 14px;
    font-weight: regular;
    text-align: center;
    padding: 8px;
    height: 30px;
    width: 160px;
    margin: 8px;
    margin-top: 15px;
}

button.Getstarted {
    color: white;
    background-color: rgb(115, 84, 173);
    border: none;
    border-radius: 3px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    height: 35px;
    width: 105px;
    margin-left: 12px;
    margin-right: 2px;
}

button.Download {
    color: gray;
    background-color: rgb(255, 255, 255);
    border: gray 1px solid;
    border-radius: 3px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    height: 35px;
    width: 100px;
    margin-left: 2px;
    margin-right: 26px;
}

button.Applyoncompanywebsite {
    color: white;
    background-color: rgb(45, 101, 188);
    border: none;
    border-radius: 20px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    height: 35px;
    width: 220px;
    margin: -2px;
}

button.Save {
    color: rgb(45, 101, 188);
    background-color: rgb(255, 255, 255);
    border: rgb(45, 101, 188) 1px solid;
    border-radius: 20px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    height: 35px;
    width: 80px;
}