@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 20px;
    margin: auto;
    width: 85%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 10%;
}

.positivus {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 40px;
    width: 170px;
}

img.logo {
    width: 100%;
    height: auto;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
}



button.Requestaquote {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 14px;
    text-align: center;
    height: 68px;
    width: 231px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.heromobile {
    display: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto;
    gap: 50px;
    max-width: 1440px;
    width: 85%;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 500;
    max-width: 531px;
    width: 100%;
    line-height: 120%;
}

button.Bookaconsultation {
    color: white;
    background-color: black;
    border-radius: 16px;
    text-align: center;
    gap: 10px;
    height: 68px;
    width: 264px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.box1 {
    width: 100%;
}

.box1text {
    max-width: 498px;
    width: 100%;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    padding-bottom: 10px;
}

img.illustration {
    width: 100%;
    height: auto;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    gap: 30px;
    padding-top: 80px;
    filter: grayscale(100%);
}


.label {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: auto;
    gap: 40px;
    width: 85%;
    padding-top: 120px;
}

.buttonservices {
    color: black;
    background-color: #B9FF66;
    border-radius: 7px;
    border: none;
    text-align: center;
    gap: 10px;
    height: 51px;
    width: 178px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 580;
    font-size: 40px;
}

.servicestext {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 46px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    margin: 0 auto;
}

.sectioncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 40px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.greentitle {
    background-color: #B9FF66;
    border-radius: 7px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    padding: 4px 8px;
    margin: 0;
}

.section1 {
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px;
    width: 500px;
    height: 150px;
    display: flex;
    margin: auto;
    gap: 30px;
    max-width: 1024px;
    box-shadow: 0px 5px black;
}

.section1left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 93px;
}

.section1right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnmoreblack {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.sectiontext {
    margin: 0;
}

.whitetitle {
    background-color: #FFFFFF;
    border-radius: 7px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    padding: 4px 8px;
    margin: 0;
}

.section2 {
    background-color: #B9FF66;
    border-radius: 45px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px;
    width: 500px;
    height: 150px;
    display: flex;
    margin: auto;
    gap: 30px;
    max-width: 1024px;
    box-shadow: 0px 5px black;
}

.section2left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 93px;
}

.section2right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitetitle {
    background-color: #FFFFFF;
    border-radius: 7px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    padding: 4px 8px;
    margin: 0;
}

.section3 {
    background-color: black;
    border-radius: 45px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px;
    width: 500px;
    height: 150px;
    display: flex;
    margin: auto;
    gap: 30px;
    max-width: 1024px;
    box-shadow: 0px 5px black;
}

.section3left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 93px;
}

.section3right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnmorewhite {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.greentitle {
    background-color: #B9FF66;
    border-radius: 7px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    padding: 4px 8px;
    margin: 0;
}

.section4 {
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px;
    width: 500px;
    height: 150px;
    display: flex;
    margin: auto;
    gap: 30px;
    max-width: 1024px;
    box-shadow: 0px 5px black;
}

.section4left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 93px;
}

.section4right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitetitle {
    background-color: #FFFFFF;
    border-radius: 7px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    padding: 4px 8px;
    margin: 0;
}

.section5 {
    background-color: #B9FF66;
    border-radius: 45px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px;
    width: 500px;
    height: 150px;
    display: flex;
    margin: auto;
    gap: 30px;
    max-width: 1024px;
    box-shadow: 0px 5px black;
}

.section5left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 93px;
}

.section5right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitetitle {
    background-color: #FFFFFF;
    border-radius: 7px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    padding: 4px 8px;
    margin: 0;
}

.section6 {
    background-color: black;
    border-radius: 45px;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 50px;
    width: 500px;
    height: 150px;
    display: flex;
    margin: auto;
    gap: 30px;
    max-width: 1024px;
    box-shadow: 0px 5px black;
}

.section6left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 93px;
}

.section6right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bottomhero {
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 1px #f3f3f3 solid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    height: 225px;
    display: flex;
    margin: 100px auto;
    gap: 275px;
    padding: 60px;
}

.Bottomheroleft {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
}

.Bottomherotitle {
    font-family: "Space Grotesk", sans-serif;
    font-size: 30px;
    font-weight: 500;
    height: 38px;
    width: 500px;
    margin: 0;
}

.Bottomherotext {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 69px;
    width: 500px;
    margin: 0;
}

.Getyourfreeproposal {
    color: white;
    background-color: black;
    border-radius: 14px;
    text-align: center;
    gap: 10px;
    height: 68px;
    width: 288px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.titlespan {
    display: flex;
    float: left;
    flex-direction: column;
    align-items: flex-start;
}

/*Mobile view*/
@media screen and (max-width: 766px) {

    body {
        padding: 20px;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero {
        display: none;
    }

    .heromobile {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        display: flex;
    }

    .mobile-title {
        order: 1;
    }

    .mobile-image {
        order: 2;
        text-align: center;
        margin: 30px 0;
    }

    .mobile-text {
        order: 3;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    Button.Bookaconsultation {
        width: 100%;
        max-width: 500px;
        justify-content: space-between;
    }

    .company {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .company img {
        width: 40%;
    }

    .label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 768px
    }

    .titlespan {
        display: flex;
        float: left;
        flex-direction: column;
        align-items: flex-start;
    }

    .greentitle {
        display: inline-block;
        width: auto;
        white-space: nowrap;
    }

    .whitetitle {
        display: inline-block;
        width: auto;
        white-space: nowrap;
    }

    .sectioncontainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        padding: 0 20px;
        margin: 40px auto;
        margin-top: 80px;
    }

    .section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6 {
        width: 100%;
        max-width: 400px;
        height: 100%;
        align-items: flex-end;
        gap: 0;
    }

    .sectiontext {
        display: none;
    }

    .Bottomhero {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        max-width: 440px;
        height: auto;
        padding: 30px;
        margin: 40px auto;
    }

    .Bottomheroright {
        display: none;
    }

    .Bottomherotitle {
        width: auto;
        height: auto;
    }

    .Bottomherotext {
        width: 100%;
        height: auto;
    }

    .Bottomheroleft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }

    .Getyourfreeproposal {
        width: 100%;
    }

}