body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textbox {
    color: blueviolet;
}

form {
    margin: auto;
}

input {
    margin-bottom: 10px;
}

input,
textarea {
    border-radius: 8px;
    border: 1px solid black;
}