 @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

 h3 {
     font-family: "Oxygen", sans-serif;
 }

 body {
     background-color: rgb(246, 246, 231);
 }

 .container {
     max-width: 1024px;
     margin: auto;
     display: flex;
     gap: 10px;
     justify-content: center;
 }

 .project {
     background-color: white;
     padding: 15px;
     border-radius: 10px;
 }

 img {
     border-radius: 5px;
 }